.sidebar {
    width: 250px;
    height: 100vh;
    background: #9e5b4a;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    justify-content: center;
    display: flex;
}

.sidebar-toggle {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    position: absolute;
    top: 20px;
    right: -30px;
    cursor: pointer;
    background: none;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 4px 10px;
    transition: 0.4s;
    border-radius: 5px;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 50px 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s ease;
}

.menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.show-sidebar {
    left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        background: none;
        transition: none;
    }

    .sidebar-toggle {
        display: none;
    }

    .content {
        margin-left: 0;
    }
}